apiVersion: apps/v1
kind: Deployment
metadata:
  name: adservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adservice
  template:
    metadata:
      labels:
        app: adservice
    spec:
     containers:
      - name: server
        image: <ACR Name>.azurecr.io/adservice:v1
        ports:
          - containerPort: 9555

---
apiVersion: v1
kind: Service
metadata:
  name: adservice
  namespace: NonProd
spec:
  type: ClusterIP
  selector:
    app: adservice
  ports:
  - name: http
    port: 9555
    targetPort: 9555
