apiVersion: apps/v1
kind: Deployment
metadata:
  name: cartservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cartservice
  template:
    metadata:
      labels:
        app: cartservice
    spec:
      containers:
        - name: cartservice
          image:  <ACR Name>.azurecr.io/cartservice:v1
          ports:
            - containerPort: 7070
            
---
apiVersion: v1
kind: Service
metadata:
  name: cartservice
  namespace: prod
spec:
  type: ClusterIP
  selector:
    app: cartservice
  ports:
  - name: http
    port: 7070
    targetPort: 7070
